/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
}
.main-color{
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	margin-top:30px;
	padding-right: 150px;
	padding-left: 150px;
}
.instagram{
	width: 22px;
	cursor: pointer;
}
section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1  span {
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0.05em;
	text-transform: uppercase;

;
}
h1  a {
	text-decoration: none;
	color: #B1663C;
	font-family: Syne;
	font-size: 22px;
	font-weight: 800;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;

;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-family: Work Sans;
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	font-weight: 300;

}

li:hover {
	font-weight:bold;
	cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
	padding-right:230px;
	padding-left: 230px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio{
	padding-top: 140px;
	
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	margin-top: 90px;
	width: 70%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-left: 277px;
}
.gallery-modal {
	width: 80%;
	flex-wrap: wrap;
	gap:15px;
	display: flex;
	padding-left: 50px;
}
.gallery-modal figure {
	width: 77px;
	height: 102px;
	overflow: hidden;
	position: relative;

}
.trash{
	z-index: 100;
	position: absolute;
	right: 5px;
	top: 5px;
	background-color:black;
	padding: 5px;
	border-radius: 2px;
	color: white;
}

.img-trash span{
	z-index: 10;
}
.gallery-modal img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact p{
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	

}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	width: 379px;
	margin-top: 10px;
}

#contact input {
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.align-form{
	display: flex;
	justify-content: center;
	align-items: center;
}
#contact #send {
	color: white;
	width: 179px;
	text-align: center;
	border-radius: 60px ;
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: #1D6154;
	margin-top: 40px;
	height: 36px;
}
.btn-align{
	display: flex;
	justify-content: center;
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.input-modal{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin : 2em auto ;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: #1D6154;
	border: 1px solid #1D6154;

	
}
.input-modal2{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin : 2em auto ;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
	display: flex;
    align-items: center;
    justify-content: center;

	
}


.Filtres {
    display: flex;
    flex-direction: row;
    justify-content: center;
	padding-bottom: 50px;
}
.boutons-filtres {
    background-color: white;
    color: #1D6154;
	border: 1px solid #1D6154;
    border-radius: 60px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 10px;
    height: 40px;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;

	
}
.btn-actif{
	background-color: #1D6154;
	color: white;
}

.black-background{
	background-color: black;
	height: 60px;
}
.bouton-modifier .white-color{
	color: white;
	padding-top:25px;
}
.bouton-modifier{
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.bouton-modifier a{
	position: relative;
	bottom: 10px;
	text-decoration: none;
	font-family: 'Work Sans';
	font-size: 25px;
	padding-left: 30px;
	margin-bottom: 5px;
}
.btn-modifier-modal{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:30px;
}
.btn-modifier-modal span{
	margin-bottom: 25px;
	cursor: pointer;
	
}
.btn-modifier-modal i{
	margin-right: 5px;
	
}
.icone-modifier{
	display: none;
}
.modal {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
}

.modal_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
	width: 630px;
	height: 688px;
	
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

.input-modal {
	width: 236px;
	height: 36px;
	margin-bottom: 23px;
	margin-top: 38px;
}
.modal:target{
	visibility: visible;
	opacity: 1;
}

.modal_close, .modal_close_ajout {
	text-decoration: none;
	position: absolute;
	top:26px;
	right: 30px;
	font-size: 24px;
	color: #000000;
	cursor: pointer;

}
.titre-modal{
	color: black;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;

} 
.login a{
	text-decoration: none;
	cursor: pointer;
	color: black;
}
.logout{
	display: none;
	cursor: pointer;
}
.login{
	display: block;
}




/* Modal */

.modal-container {
	visibility: hidden;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	transition: visibility 0.4s;
}



.modal-container.active{
	visibility: visible;

}
.modal-container.active .overlay {
    opacity: 0.3;
    transition: opacity 0.4s ease-out;
}

.modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}


.modal-container-ajout {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-container-ajout .row-modal {
    padding: 8px 10px;
    border: none;
    font-size: 24px;
    background-color: #FFFEF8;
    position: absolute;
    top: -3px;
    left: 24px;
    cursor: pointer;
}

.modal-container-ajout .ajout-photo-before {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 169px;
    width: 420px;
    background-color: #E8F1F6;
    margin-top: 36px;
}

.modal-container-ajout .ajout-photo-after {
    display: none;
}

.modal-container-ajout .ajout-photo-after img {
    height: 169px;
}

.modal-container-ajout img {
    margin-top: 22px;
    font-size: 58px;
}

.modal-container-ajout #ajouterPhotoBtn {
    background-color: #CBD6DC;
    color: #306685;
    height: 36px;
    width: 173px;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.modal-container-ajout #ajouterPhotoBtn:hover {
    background-color: #0056b3;
}

.modal-container-ajout p {
    font-size: 10px;
}

.modal-container-ajout form {
    display: flex;
    flex-direction: column;
    gap: 21px;
    text-align: left;
    margin-top: 30px;
}

.modal-container-ajout .input-photo {
    width: 420px;
    height: 51px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
}

.modal-container-ajout label {
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
}

.modal-container-ajout.active{
	visibility: visible;
}
.modal-container-ajout.active .overlay {
    opacity: 0.3; /* Utilisez une valeur décimale entre 0 et 1 */
    transition: opacity 0.4s ease-out;
}

.modal-container-ajout.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease-out 0.2s, transform 0.4s ease-out 0.2s; /* Ajoutez la durée et le délai pour chaque transition */
}


.modal-border1{
	border-top: 1px solid #B3B3B3;
	padding: 0;
	margin-top: 60px;
	width: 450px;
}
.modal-border2{
	border-top: 1px solid #B3B3B3;
	padding: 0;
	margin-top: 20px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
	margin: 0;
	background-color: white;
	width: 100%;
}
footer{
	width: 100%;
	margin:0;
	padding:0;
	
}
.img-gallery img{
	width: 319px;
	height: 427px;
}
.btn-grey{
	background-color: gray;
	border: none;
}
.btn-green{
	background-color: #1D6154;
	border: 1px solid #1D6154;
}

.fa-arrow-left{
	position:absolute;
    left: 30px;
	top:26px;
	font-size: 21px;
	cursor: pointer;
}
.edit-mode{
	padding-right: 10px;
}
.mention{
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;

}